/* Light mode */
@media (prefers-color-scheme: light) {
    html, body {
        background-color:lightyellow;
        color:black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html, body {
        background-color:midnightblue;
        color:lightyellow;
    }
    a:link {
        color:lightskyblue;
    }
    a:visited {
        color:lightslategrey;
    }
    a:hover {
        color:lime;
    }
}

/* Common to light and dark mode */
html, body {
    font-family: 'Convergence', sans-serif;
}

h1,h2 {
    
    font-family: 'Nobile', sans-serif;
}