/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color:lightyellow;
        color:black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color:midnightblue;
        color:lightyellow;
    }
    a:link {
        color:lightskyblue;
    }
    a:visited {
        color:lightslategrey;
    }
    a:hover {
        color:lime;
    }
}