/* Light mode */
@media (prefers-color-scheme: light) {
    html, body {
        background-color:lightyellow;
        color:black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html, body {
        background-color:midnightblue;
        color:lightyellow;
    }
    a:link {
        color:lightskyblue;
    }
    a:visited {
        color:lightslategrey;
    }
    a:hover {
        color:lime;
    }
}

/* Common to light and dark mode */
html, body {
    display: block;
    font-family: 'Convergence', sans-serif;
}

h1,h2,h3 {
    font-family: 'Nobile', sans-serif;
}

h2 {
    font-size: 24px;
    margin-top: 2em;
}

html {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
   /* line-height: 1.5rem; */
    font-size: 24px;
}

input {
    padding: 0.25rem;
    width: 100%;
    font-size: 1.1rem;
}

.bread-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}